<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126129061327-2hmgnikf1mkifv3s9ad3fgfmn4ag3a92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126129061327-2hmgnikf1mkifv3s9ad3fgfmn4ag3a92</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>126129061327-t539t29ms458o0itkv62or7npt8i89as.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMBVUqsbdLjX_C5iJ_Jg7BbqEFA5LnEBI</string>
	<key>GCM_SENDER_ID</key>
	<string>126129061327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.funnyground.playinus.reactnative</string>
	<key>PROJECT_ID</key>
	<string>play-in-us</string>
	<key>STORAGE_BUCKET</key>
	<string>play-in-us.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126129061327:ios:9e449cc6828652e30d66ba</string>
</dict>
</plist>